%header
	%h1 About Us
.about

	%div.questions
		.odd
			.question Who created this?
			.answer
				Built in Hong Kong was launched in 2013 by 
				=link_to "David Greenwood", "http://www.dgwd.co"
				and is based on code from
				=link_to "Bilawal Hameed", "http://bilaw.al"

		.even
			.question Why did you build this?
			.answer
				Hong Kong has no shortage of awesome startups, and I want to celebrate them. It's inspired by 
				= link_to("#wearehktech", "http://wearehktech.com/", :target => "_blank")
		.odd
			.question How can my startup join?
			.answer
				Easy, if 50% or more of your workforce is in Hong Kong, 
				= link_to "click here", startups_apply_path
				to apply.

		.even
			.question How do this site make money?
			.answer It's simple: we don't. Though we are always <a href="mailto:support@builtinhk.com">looking for sponsors</a>.

		.odd
			.question Some information about my startup is outdated. Help?
			.answer We've got you covered. Shoot us an email at <a href="support@builtinhk.com">support@builtinhk.com</a> and we'll sort it.
